<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML lang="en">
<head>
    <title>袁旌云的个人简历</title>
    <STYLE TYPE="text/css">
    <!--
    BODY {background-image: URL(/Users/yuanjingyun/Pictures/Prettybeauty010.jpg 
);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;}
    -->
    </STYLE>
</head>
<body>
    <center><h1 id="">我的个人简历</h1></center>
    <blockquote>
      <blockquote>
    <h3 id="">个人情况：</h3>

    <p>姓名：袁旌云   籍贯：四川苍溪  出生年月：1988.2.19 <br>
     毕业院校：四川农业大学        专业：信息与计算科学 <br>
     联系电话：18728060993  电子邮箱：sccxyuan@163.com  </p>

    <h3 id="">个人能力：</h3>

    <p>较好的英语听、说、写能力 <br>
     熟练运用OFFICE软件 <br>
     能够利用电脑进行大规模的运算和数据挖掘。 <br>
     能够将实际问题与数学模型相结合，做出分析、预测、规划。 <br>
     能熟练操作windows系统，能够使用office办公自动化系列软件。  </p>

    <h3 id="">个人素质：</h3>

    <p>有强烈的好奇心,富有挑战和竞争意识,勤奋、能吃苦 <br>
     自我激励，学习认真，有很好的自学能力 <br>
     有很好的团队精神和协作精神，良好的沟通、协调能力,有责任感  </p>

    <h3 id="">个人爱好：</h3>

    <p>篮球，足球，业余时间也会看看电影、听听歌，放松自己。  </p>

    <h3 id="">自我评价：</h3>

    <p>本人性格开朗、稳重、有活力，待人热情、真诚。工作认真负责，积极主动，能吃苦耐劳爱好学习，具有积极进取的精神；为人乐观豁达，能够从容地面对生活。有较强的组织能力、实际动手能力和团体协作精神，能迅速的适应各种环境，并融合其中。能够很快地吸收新知识、新技能，并能快速的运用到实际中去。 </p>
    </blockquote>

    <p></blockquote></p>

    <hr>

    <center><p>Thanks for visiting my site.</p></center>
</center>
</body>
</html>